<div class="summary-block">
    <mat-toolbar>  
        <div fxFlex="100%">
            <mat-icon class="header-icon">attach_money</mat-icon><span class="schedule-text">Expenses</span>
        </div>
    </mat-toolbar>
    <div class="summary-header" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
        <div fxFlex="80%">
            Type
        </div>
        <div fxFlex="10%">
            Quantity
        </div>
        <div fxFlex="10%">
            Total
        </div>
    </div>
    <div class="summary-row" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
        <div fxFlex="80%">
            dapris
        </div>
        <div fxFlex="10%">
            2
        </div>
        <div fxFlex="10%">
            567
        </div>
    </div>
</div>