<div class="summary-block">
    <mat-toolbar>  
            <div fxFlex="90%">
                <mat-icon class="header-icon schedule">schedule</mat-icon>
                <span class="schedule-text">Hours</span>
            </div>
            <div fxFlex="10%">
                ({{startTime}}-{{endTime}})
            </div>
    </mat-toolbar>
    <div  class="summary-header" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
        <div fxFlex="90%">
            Type
        </div>
        <div fxFlex="10%">
            Duration
        </div>
    </div>
    <div class="summary-row" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
        <div fxFlex="90%">
            Arbeistid
        </div>
        <div fxFlex="10%">
            7:30
        </div>
    </div>
    <div class="summary-row" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
        <div fxFlex="90%">
            Overtid 50%
        </div>
        <div fxFlex="10%">
            1:00
        </div>
    </div>
</div>