<div class="summary-block">
    <mat-toolbar>  
        <div fxFlex="100%">
            <mat-icon class="header-icon schedule">schedule</mat-icon>
            <span class="schedule-text">Additional hours</span>
        </div>
</mat-toolbar>
<div class="summary-header" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <div fxFlex="90%">
        Type
    </div>
    <div fxFlex="10%">
        Amount
    </div>
</div>
<div class="summary-row" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <div fxFlex="90%">
        timepris
    </div>
    <div fxFlex="10%">
       2.5
    </div>
</div>
</div>